[build]
  publish = "out"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"
  NPM_VERSION = "10"
  NEXT_PUBLIC_PARTNERS_SHEET_ID = "1mcGxjKkEy60HuRFOax-jN6wki0cHolxKZ8VRnpPVzVE"
  NEXT_PUBLIC_SPEAKERS_SHEET_ID = "1mcGxjKkEy60HuRFOax-jN6wki0cHolxKZ8VRnpPVzVE"
  NEXT_PUBLIC_PARTNERS_GID = "89538245"
  NEXT_PUBLIC_SPEAKERS_GID = "168332648"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"

[[headers]]
  for = "/static/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/_next/static/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"